.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;

    @media @desktop-width {
      width: 970px;
    }

    @media @tablet-width {
      width: 750px;
    }

    @media @mobile-width {
      width: auto;
    }

}

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}